* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

i {
  font-size: 20px;
  color: #fff;
}

.sidemenu-bar{
  width: 200px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  text-align: center;
  position: fixed;
  top: 300px;
  right: 30px;
}

.arrow-up i {
  font-size: 40px;
  color: rgb(18, 61, 153);
  position: fixed;
  bottom: 30px;
  right: 30px;
}

header {
  position: static;
}

.visually-hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  /* justify-content: start; 가 기본값 */
  align-items: center;
  padding: 10px 0;
  background-color: lightblue
}

.logo img {
  width: 40px;
  margin-left: 20px;
}

.gnb-list {
  width: 300px;
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  margin-right: 40px;
}

.gun-item a {
  font-weight: 700; /*굵기 조절*/
}

.background {
  height: 600px;
  background-image: url('./imeges/스누피배경.jpeg');/* 점 두개를 찍으면 "폴더 위로 가기 기능"을 함 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.front-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: #fff;
}

.front-title {
  font-size: 36px;
}

.front-content {
  font-size: 24px;
  margin-top: 30px;
}

.fornt-btn {
  padding: 10px 20px;
  border-radius: 10px; /*모서리 둥글게함*/
  margin-top: 30px;
  font-weight: bold; /*또는 700*/
  border:  none;
}

.top {
  margin-top: -70px;
}

.top-1 {
  margin-top: 20px;
}

.second-txt {
  width: 500px;
  margin: 0 auto;
  color: #000;
  background-color: lightblue;
  text-align: center;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(36, 37, 37);
}



.snoopy-box {
  height: 600px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snoopy1 {
  margin: 5px;
  width: 500px;
  height: 500px;
  background-image: url(./imeges/스누피1.png);
  background-color: #fff;
  background-size: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 500px;
}

.snoopy2 {
  margin: 5px;
  width: 500px;
  height: 500px;
  background-image: url(./imeges/스누피2.png);
  background-color: #fff;
  background-size: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 1000px;
}

footer {
  background-color: lightblue;
  padding: 20px 0;
  margin-top: 120px;
}

.global-footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.global-footer h3 {
  color: #fff;
}

.footer-list {
  display: flex;
}

.footer-item {
  margin-right: 20px;
}

.footer-item:last-child {
  margin-right: 0;
}